h1 {
	font-weight: bold;
	text-align: center;
	color: black;
	border-style: solid;
	border-color: red;
	background-color: white;
	padding: 10px;
}

h1:hover {
	background-color: yellow;
}

p:hover {
	background-color: yellow;
}

html, body {
	background-color: lightblue;
}

img {
	display: block;
	margin: 0 auto;
	width: 25%;
	padding: 10px;
}

.intro {
	font-size: 20px;
	padding: 5px;
	border-style: solid;
	border-color: red;
	color: black;
	background-color: white;
	font-family: "Comic Sans MS", serif;
	text-align: left;
}

.text {
	border-style: solid;
	border-color: red;
	font-size: 20px;
	padding: 5px;
	font-family: "Comic Sans MS", serif;
	color: black;
	background-color: white;
	text-align: left;
}

.pic {
	float: left;
	height: 200px;
	width: 200px;
	margin: 15px;	
}

nav {
	width: 100%
	border-style: solid;
	background-color: white;
	list-style-type: none;
	text-align: center;
}

nav:hover {
	background-color: yellow;
}

li {
	display: inline-block;
	padding: 10px;
	list-style-type: none;
}

.image-1 {
	background-image: url("rm1.jpg");
	background-size: cover;
	background-position: center center;
}

.image-2 {
	background-image: url("rm2.jpg");
	background-size: cover;
	background-position: center center;	
}

.image-3 {
	background-image: url("rm3.jpg");	
	background-size: cover;
	background-position: center center;
}

.image-4 {
	background-image: url("rm4.jpg");
	background-size: cover;
	background-position: center center;	
}

.image-5 {
	background-image: url("rm5.jpg");
	background-size: cover;
	background-position: center center;	
}

.image-6 {
	background-image: url("rm6.jpg");
	background-size: cover;
	background-position: center center;	
}

.clear {
	clear: both;
}

.contact {
	font-size: 20px;
	padding: 10px;
	border-style: solid;
	border-color: red;
	color: black;
	background-color: white;
	font-family: "Comic Sans MS", serif;
	text-align: left;
}

.contact:hover {
	background-color: yellow;
}

.webgif {
	padding-bottom: 20px;
}

@media all and (max-width: 600px) {
	body {
	background-color: orange;
	}
}